<a href="https://colab.research.google.com/github/arifuddinatif/Play-Store-App-Review-Analysis/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import date

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/Colab Notebooks/projects/EDA - playstore app review analysis/DAT files/Copy of Play Store Data.csv'
df = pd.read_csv(path)

In [ ]:
def replacefunc(column):

 
  return column.replace(' ','/').replace(',','').replace('.','/').replace('?',np.nan).replace('NA',np.nan)

In [ ]:
def datetimefunc(column):
  try:
    if column[-7] == '/':
      x = column.split('/')
      x[1] = '0'+x[1]
      y = '/'.join(x)
      return y
    else:
      return column 
  except:
    return column

In [ ]:
df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

#cleaning rating column

In [ ]:
def cleanrating(column):

  if column > 5: 
    return np.nan
  else:
    return column

In [ ]:
def change_to_object(column):
  return eval(column)

In [ ]:
df.loc[~df['Rating'].isna(),'Rating'] = df.loc[~df['Rating'].isna(),'Rating'].apply(cleanrating)

# cleaning reviews column

In [ ]:
for i in range(len(df['Reviews'])):
  if df.loc[i,'Reviews'][-1] == 'M':
    df.loc[i,'Reviews'] = df.loc[i,'Reviews'].replace('M','')

In [ ]:
df.loc[~df['Reviews'].isna(),'Reviews'] = df.loc[~df['Reviews'].isna(),'Reviews'].apply(change_to_object)

In [ ]:
type(df['Reviews'][0])

numpy.float64

# cleaning size column

In [ ]:
for i in range(len(df['Size'])):
  if df.loc[i,'Size'][-1] == 'M':
    df.loc[i,'Size'] = df.loc[i,'Size'].replace('M','')

In [ ]:
for i in range(len(df['Size'])):
  if df.loc[i,'Size'] == 'Varies with device':
    df.loc[i,'Size'] = np.nan

In [ ]:
for i in range(len(df['Size'])):
  try:
    if df.loc[i,'Size'][-1] == 'k':
      df.loc[i,'Size'] = df.loc[i,'Size'].replace('k','000')
    if df.loc[i,'Size'][-1] == '+':
      df.loc[i,'Size'] = df.loc[i,'Size'].replace('+','')  
  except:
    pass

In [ ]:
df.loc[~df['Size'].isna(),'Size'] = df.loc[~df['Size'].isna(),'Size'].apply(change_to_object)

In [ ]:
df.rename(columns={'Size':'Size in mb'},inplace=True)

In [ ]:
type(df['Size in mb'][2])

float

#cleaning installs column

In [ ]:
for i in range(len(df['Installs'])):
  if df.loc[i,'Installs'][-1] == '+':
    df.loc[i,'Installs'] = df.loc[i,'Installs'].replace('+','')

In [ ]:
for i in range(len(df['Installs'])):
  if df.loc[i,'Installs'] == 'Free':
    df.loc[i,'Installs'] = np.nan

In [ ]:
def cleaninstalls(column):
  return column.replace(',','')

In [ ]:
df.loc[~df['Installs'].isna(),'Installs'] = df.loc[~df['Installs'].isna(),'Installs'].apply(cleaninstalls)

In [ ]:
df.loc[~df['Installs'].isna(),'Installs'] = df.loc[~df['Installs'].isna(),'Installs'].apply(change_to_object)

In [ ]:
type(df['Installs'][2])

numpy.int64

#cleaning price column

In [ ]:
for i in range(len(df['Price'])):
  if df.loc[i,'Price'][0] == '$':
    df.loc[i,'Price'] = df.loc[i,'Price'].replace('$','')

In [ ]:
for i in range(len(df['Price'])):
  if df.loc[i,'Price'] == 'Everyone':
    df.loc[i,'Price'] = np.nan

In [ ]:
df.loc[~df['Price'].isna(),'Price'] = df.loc[~df['Price'].isna(),'Price'].apply(change_to_object)

In [ ]:
df.rename(columns={'Price':'Price in dollars'},inplace=True)

In [ ]:
type(df['Price in dollars'][2])

float